body {
  // debugging tools

  --border: 5px solid red;

  // Box-Shadow

  --shadow: #8faecf 0px 7px 29px 0px;

  //spacing custom properties

  --spacing: 24px;

  // font-family: "Inter", sans-serif;
  font-family: "inter";
  font-size: 1rem;
  color: var(--text);
  font-weight: 400;

  // display: flex;
  // flex-direction: column;
  // background-color: red;
  position: relative;
}

* > h1,
h2,
h3,
h4 {
  color: var(--heading);
}
