.hero {
  &--wrapper {
    width: clamp(328px, calc(100% - 80px), 72.5rem);
    margin-inline: auto;
    @include desktop {
      display: flex;
      align-items: center;

      column-gap: calc(var(--spacing) * 5);
      margin-block-end: calc(var(--spacing) * 6);
      position: relative;
    }
  }

  &--text {
    @include desktop {
      flex: 1;
    }
  }
}

.decorative-line-left {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    top: 110%;
    right: 5%;
  }
}
