.hero {
  &--wrapper {
    width: clamp(328px, calc(100% - 80px), 72.5rem);
    margin-inline: auto;
    @include desktop {
      display: flex;
      align-items: center;

      column-gap: calc(var(--spacing) * 5);
      margin-block-end: calc(var(--spacing) * 5);
    }
  }

  &--text {
    @include desktop {
      flex: 1;
    }
  }
}
