.section__calc {
  &-heading {
    font-size: var(--font-s-h3);
    margin-bottom: var(--spacing);
  }

  &-form {
    // border: var(--border);
    &--unitSys {
      // border: var(--border);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
