.sectionBmi {
  display: grid;
  margin-block-end: calc(var(--spacing) * 6.5);

  @include tab {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: calc(var(--spacing) * 3);
    // --spacing: 80px;
    margin-block-end: calc(var(--spacing) * 4);
  }

  @include desktop {
    width: clamp(328px, calc(100% - 80px), 72.5rem);
    margin-inline: auto;
    margin-block-end: calc(var(--spacing) * 4);
  }

  &__img {
    margin-block-end: calc(var(--spacing) * 2);

    @include tab {
      margin-block-end: 0;
    }
  }
  &__about {
    margin-block-end: calc(var(--spacing) * 5);
    width: clamp(328px, calc(100% - 80px), 72.5rem);
    margin-inline: auto;

    @include tab {
      margin-block-end: 0;
      // align-self: center;
    }

    @include desktop {
      align-self: self-end;
      padding-block-end: calc(var(--spacing) * 3);
    }

    &--heading {
      font-size: var(--font-s-h2);
      font-weight: var(--font-w-SB);
      line-height: 110%;
      letter-spacing: -1px;
      margin-block-end: calc(var(--spacing) + 8px);
    }
  }
}
