.section__calc {
  border-radius: 25px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-block-end: calc(var(--spacing) * 3);
  &-wrapper {
    //
    padding: var(--spacing);
  }
  &-heading {
    font-size: var(--font-s-h3);
    margin-bottom: var(--spacing);
  }

  &-form {
    // border: var(--border);

    &--unitSys {
      // border: var(--border);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: var(--spacing);

      &-input {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) - 6px);
        & input {
          /* Add if not using autoprefixer */
          -webkit-appearance: none;
          appearance: none;
          /* For iOS < 15 to remove gradient background */
          background-color: #fff;
          /* Not removed via appearance */
          margin: 0;
          font: inherit;
          width: 31px;
          height: 31px;
          border: 1px solid var(--accent-light);
          border-radius: 50%;
          display: grid;
          place-content: center;

          &:hover,
          :active {
            cursor: pointer;
          }

          &:checked {
            background-color: var(--accent-light);
            border: none;
          }

          &:checked::before {
            transform: scale(1);
          }

          &::before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 15px 15px var(--accent);
          }
        }
        & label {
          font-weight: var(--font-w-B);
        }
      }
    }
    &--metric {
      // display: grid;

      @include tab {
        display: flex;
        column-gap: var(--spacing);
      }

      &__input {
        margin-bottom: var(--spacing);
      }
      & input {
        border: 1px solid lightgray;
        border-radius: 15px;
        font-size: var(--font-s-h3);
        font-weight: var(--font-w-B);
        padding: calc(var(--spacing) - 4px);
        width: 100%;

        @include tab {
          padding: var(--spacing);
        }

        &:hover,
        :active {
          cursor: pointer;
          border: none;
          border: 1px solid var(--accent);
        }

        &:focus {
          outline: none;
          border: 1px solid var(--accent);
          cursor: revert;
        }
      }
      & span {
        margin-left: -52px;
        font-size: var(--font-s-h3);
        font-weight: var(--font-w-B);
        color: var(--accent);
      }
    }
    &--imperial {
      &__input {
        margin-bottom: var(--spacing);

        &--height-wrapper {
          display: flex;
          justify-content: space-between;
          gap: 16px;
        }

        &--weight-wrapper {
          display: flex;
          justify-content: space-between;
          gap: 16px;
        }
      }
      & input {
        border: 1px solid lightgray;
        border-radius: 15px;
        font-size: var(--font-s-h3);
        font-weight: var(--font-w-B);
        padding: calc(var(--spacing) - 4px);
        width: 100%;

        @include tab {
          padding: var(--spacing);
        }

        &:hover,
        :active {
          cursor: pointer;
          border: none;
          border: 1px solid var(--accent);
        }

        &:focus {
          outline: none;
          border: 1px solid var(--accent);
          cursor: revert;
        }
      }
      & span {
        margin-left: -52px;
        font-size: var(--font-s-h3);
        font-weight: var(--font-w-B);
        color: var(--accent);
      }
    }
  }
  &--result {
    color: #fff;
    background-color: var(--accent);
    border-radius: 25px;

    @include tab {
      border-radius: 16px 100px 100px 16px;
    }

    &-wrapper {
      padding: calc(var(--spacing) + 8px);
      @include tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 168px;
      }
    }

    &-text {
      font-weight: var(--font-w-SB);
    }

    &-number {
      font-size: var(--font-s-h1);
      font-weight: var(--font-w-SB);
      margin-block-end: var(--spacing);

      @include tab {
        line-height: normal;
        margin-block-end: 0;
      }
    }

    &-output {
      margin-inline-end: var(--spacing);
    }
  }
}
