.section__calc {
  &-heading {
    font-size: var(--font-s-h3);
    margin-bottom: var(--spacing);
  }

  &-form {
    // border: var(--border);
    &--unitSys {
      // border: var(--border);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: var(--spacing);

      &-input {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) - 6px);
        & input {
          /* Add if not using autoprefixer */
          -webkit-appearance: none;
          appearance: none;
          /* For iOS < 15 to remove gradient background */
          background-color: #fff;
          /* Not removed via appearance */
          margin: 0;
          font: inherit;
          width: 31px;
          height: 31px;
          border: 1px solid var(--accent-light);
          border-radius: 50%;
          display: grid;
          place-content: center;

          &:checked {
            background-color: var(--accent-light);
            border: none;
          }

          &:checked::before {
            transform: scale(1);
          }

          &::before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 15px 15px var(--accent);
          }
        }
        & label {
          font-weight: var(--font-w-B);
        }
      }
    }
  }
}
