.section__limitations {
  width: clamp(328px, calc(100% - 80px), 72.5rem);
  margin-inline: auto;
  @include tab {
    display: grid;
    column-gap: calc(var(--spacing) - 8px);
    row-gap: var(--spacing);
    grid-template-areas:
      "header header"
      "column-1 column-2"
      "column-3 column-4"
      "column-5 column-5";
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    width: clamp(328px, calc(100% - 80px), 72.5rem);
    margin-inline: auto;
    grid-template-areas:
      "header column-1"
      "column-2 column-3"
      "column-4 column-5";
    column-gap: calc(var(--spacing) + 8px);
  }

  &--header {
    @include tab {
      grid-area: header;
    }
    @include desktop {
      flex: 0.8;
    }
  }
  &--heading {
    font-size: var(--font-s-h2);
    font-weight: var(--font-w-SB);
    text-align: center;
    margin-block-end: calc(var(--spacing) + 8px);

    @include desktop {
      text-align: left;
    }
  }
  &--text {
    margin-block-end: calc(var(--spacing) * 2 + 8px);
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }
}

.decorative-line-right {
  display: none;

  @include desktop {
    display: block;
    position: sticky;
    top: 50%;
    left: 20%;
  }
}
